
body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  font-family: 'impact';
}
html {
  padding: 0;
  margin: 0;
}

p {
  font-family: 'courier';
  font-size: 1rem;
}
#enter {
  padding: 2rem;
  color: #eb793c;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  /* background-image: url("./assets/images/forest.jpeg"); */
  align-items: center;
  position: fixed;
  text-align: center;
  /* background: lightblue; */
  width: 100%;
  height: 100%;
  padding-bottom: 25rem;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .about-container {
  background-image: url("./assets/images/forest.jpeg");
} */

#about-text {
  text-align: center;
  color: #eb793c;
}
.display-block {
  display: block;
  position: fixed;
  z-index: 5;
}

.display-none {
  display: none;
}

.inputs {
  text-align: center;
  background-color: white;
  border :#eb793c 1px solid;
  padding: 1rem;
  margin: .5rem;
}

.inputs::placeholder {
  text-align: center;
  font-family: 'impact';
}

button {
  font-family: 'impact';
  background-color: #eb793c;
  border: 1px #eb793c solid;
  margin: .5rem;
  color: #fff;
}

.modal-top {
  display: flex;
  flex: 2;
}
.modal-top > h2 {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  flex: 1 1 0;
  font-size: 4rem;
  margin-bottom: 0;
  justify-content: center;
}

.modal-top > h2:nth-child(2) {
  margin-top: -13rem;
}

.modal-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1.5rem;
}

.modal-bottom > p {
  color: white;
}

.modal-bottom > form {
  display: flex;
  justify-content: space-between;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  background-color: dodgerblue;
  color: black;
  position: fixed;
  width: 100%;
}

.active {
  font-weight: bold !important;
  color: white !important;
}

.logo {
  position: absolute;
  left: 3rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  content: "";
  background-color: white;
}

.product-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 85vw;
  height: 80vh;
}

.product-image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 35vh;
  background-color: dodgerblue;
  border-radius: 40px;
}

.product-full_image {
  width: 100%;
  height: 100%;
}

.product-desc_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 35vh;
}

.first-product {
  margin-top: 10vh;
  padding-top: 3rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.last-product {
  margin-bottom: -15rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding-top: 12rem;
  margin: auto;
  width: 85vw;
}

.about-container > div:first-child {
  font-size: 10rem;
  color: dodgerblue;
  display: flex;
  justify-content: center;
  flex: 1;
}

.about-container > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 15rem;
  flex: 1;
  background-color: dodgerblue;
  font-size: 2rem;
  flex-direction: column;
  align-content: center;
}

.about-container > div:nth-child(2) > span {
  margin: auto;
  width: 75%;
  height: auto;
  text-align: center;
}

.find-button {
  float: left;
  position: absolute;
  z-index: 99;
  background-color: white;
  color: #eb793c;
  width: 15rem;
  height: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conn-links {
  display: flex;
  justify-content: space-around;
}
.conn-headers {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.press-container {
  display: flex;
  justify-content: space-between;
  padding-top: 12rem;
  margin: auto;
  width: 85vw;
}
.connect {
  margin: 10rem;
}
